<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My First App</title>
  </head>
  <body>
    <h3>My Address List</h3>
    {% for address in addresses %}
      <p>{{ address.name }}</p>
    {% endfor %}

    <h4>Add a New Address</h4>
    <form class="new-address" action="/add" method="post">
        <label for="name">Name:</label> <input type="text" name="name" value=""><br>
        <label for="address">address:</label> <input type="text" name="address" value=""><br>
        <label for="city">City:</label> <input type="text" name="city" value=""><br>
        <label for="state">statement:</label> <input type="text" name="state" value=""><br>
        <label for="zip">Zip:</label> <input type="text" name="zip" value=""><br>
        <label for="email">Email:</label> <input type="text" name="email" value=""><br>
        <input type="submit" value="Add Address">
    </form>

  </body>
</html>
